@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #0F0E17;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(100 116 139);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(71 85 105);
}
